[project]
authors = ["Mikhail Tavarez <miktavarez@gmail.com>"]
channels = ["https://repo.prefix.dev/mojo-community", "conda-forge", "https://conda.modular.com/max-nightly"]
description = "Mojo Termios via libc bindings."
name = "banjo"
platforms = ["linux-64", "osx-arm64"]
version = "25.2.0"
license = "MIT"
license-file = "LICENSE"
homepage = "https://github.com/thatstoasty/termios"
repository = "https://github.com/thatstoasty/termios"

[tasks]
tests = "python scripts/util.py run tests"
benchmarks = "python scripts/util.py run benchmarks"
examples = "python scripts/util.py run examples"
template = "python scripts/util.py templater"
build = { cmd = "python scripts/util.py build", env = { MODULAR_MOJO_IMPORT_PATH = "$CONDA_PREFIX/lib/mojo" } }
publish = { cmd = "python scripts/util.py publish", env = { PREFIX_API_KEY = "$PREFIX_API_KEY" } }
bp = { depends-on=["build", "publish"] }

[dependencies]
max = ">=25.2.0,<25.3.0"
mog = ">=25.2.0,<25.3.0"
